body {
  background-color: lightgray;
}
body .h1{
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #0C5908;
  color:antiquewhite;
  padding: 1rem 2rem;
}

.navbar .logo {
  width: 200px;
  height: auto;
}

.carro{
  width: 50px;
  height: auto;
  border-radius: 15px;
}