body {
  background-color: lightgray;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Dosis", sans-serif;
  background-color: #0C5908;
  color:antiquewhite;
  padding: 1rem 2rem;
}

.navbar .logo {
  width: 15%;
  height: auto;
  margin-right: 600px;
}

.carro{
  width: 45px;
  height: auto;
  border-radius: 50px;
}

.bienvenida{
  display: flex;
  align-items: center;
}